## Main
M0001 = [DB2PG_START]
M0002 = [SRC_DDL_EXPORT_START]
M0003 = [SRC_DDL_EXPORT_END]
M0004 = [PG_CONSTRAINT_EXTRACT_START]
M0005 = [PG_CONSTRAINT_EXTRACT_END]
M0006 = [DROP_FK_START]
M0007 = [DROP_FK_END]
M0008 = [DROP_INDEX_START]
M0009 = [DROP_INDEX_END]
M0010 = [SRC_INCLUDE_DATA_EXPORT_START]
M0011 = [SRC_INCLUDE_DATA_EXPORT_END]
M0012 = [CREATE_INDEX_START]
M0013 = [CREATE_INDEX_END]
M0014 = [CREATE_FK_START]
M0015 = [CREATE_FK_END]
M0016 = [DB2PG_END]

## com.k4m.experdb.db2pg.common.CreateDbStmt
C0001 = Not Support DB!!!
C0002 = Not Support Disable PrimaryKey Stmt!!!
C0003 = Not Support Drop Index Stmt!!!
C0004 = Not Support Alter Table Logging Stmt!!!
C0005 = Not Support Alter Table NoLogging Stmt!!!
C0006 = Not Support Alter FK Stmt!!!
C0007 = Not Support Drop Sequence Stmt!!!
C0008 = Not Support Create Stat Table Stmt!!!
C0009 = Not Support Drop Stat Table Stmt!!!
C0010 = Not Supported Version!!!

## com.k4m.experdb.db2pg.config.ConfigInfo
C0021 = [CONFIG_FILE_NOT_FOUND_ERR]
C0022 = [CONFIG_FILE_LOAD_ERR]

## com.k4m.experdb.db2pg.convert
C0025 = %s directory is not existed.
C0026 = Success to create %s directory.
C0027 = Failed to create %s directory.

## com.k4m.experdb.db2pg.convert.db
C0031 = [START_GET_TABLE_INFORM]
C0032 = [GET_SET_TABLE_INFORM]
C0033 = [GET_TABLE_INFORM]
C0034 = [END_GET_TABLE_INFORM]
C0035 = [START_SET_COLUMN_INFORM]
C0036 = [GET_SET_COLUMN_INFORM] %s : %s
C0037 = [END_SET_COLUMN_INFORM]
C0038 = [START_SET_CONSTRAINT_INFORM]
C0039 = [GET_SET_CONSTRAINT_INFORM]
C0040 = [END_SET_CONSTRAINT_INFORM]
C0041 = [START_SET_KEY_INFORM]
C0042 = [GET_SET_KEY_INFORM]
C0043 = [END_SET_KEY_INFORM]
C0044 = [START_SET_VIEW_INFORM]
C0045 = [GET_SET_VIEW_INFORM]
C0046 = [END_SET_VIEW_INFORM]
C0047 = [START_SET_SEQUENCES_INFORM]
C0048 = [GET_SET_SEQUENCES_INFORM]
C0049 = [END_SET_SEQUENCES_INFORM]
C0050 = is an unsupported Database Type.
C0051 = Not Exist DB Type

## com.k4m.experdb.db2pg.db.oracle.spatial.geometry
C0061 = ERROR: Dimension %s is not valid. Either specify a dimension or use Oracle Locator Version 9i or later.
C0062 = ERROR: SDO_ELEM_INFO starting offset %s Offset inconsistent with ordinates length %s
C0063 = ERROR: SDO_ETYPE %s inconsistent with expected POINT
C0064 = ERROR: SDO_ETYPE.POINT requires interpretation >= 1
C0065 = ERROR: SDO_ELEM_INFO starting offset %s inconsistent with ordinates length %s
C0066 = ERROR: SDO_ETYPE %s inconsistent with expected LINESTRING
C0067 = ERROR: SDO_ETYPE %s inconsistent with expected POLYGON or POLYGON_EXTERIOR
C0068_1 = ERROR: SDO_ETYPE 2003 (Polygon Interior) no expected in a GeometryCollection
C0068_2 = (2003 is used to represent polygon holes, in a 1003 polygon exterior)
C0069 = ERROR: SDO_ETYPE %s not representable as a EWKT Geometry by DB2PG
C0070 = ERROR: SDO_ETYPE %s inconsistent with expected SOLID_EXTERIOR

## com.k4m.experdb.db2pg.db
C0081 = ************************************************************
C0082 = Create DBCPPOOL
C0083 = Loading JDBC DB_TYPE :
C0084 = PROPERTY : charset =
C0085 = Created DBCPPOOL
C0086 = Failed Create DBCPPOOL
C0087 = [START_GET_TABLE_NAMES]
C0088 = [GET_TABLE_NAMES]
C0089 = [GET_TABLE_NAMES_ELAPSED_TIME]
C0090 = [END_GET_TABLE_NAMES]

## com.k4m.experdb.db2pg.rebuild
C0101 = [LIST_TO_FILE_START]
C0102 = [LIST_TO_FILE_ERROR]
C0103 = [LIST_TO_FILE_END]
C0104 = [MAKE_SUMMARY_FILE_START]
C0105 = [RUN_PARSING]
C0106 = [FILE_NAME]
C0107 = [SQL]
C0108 = [END_PARSING]
C0109 = TOTAL_ELAPSED_TIME =
C0110 = [MAKE_SUMMARY_FILE_SUCCESS]
C0111 = [MAKE_SUMMARY_FILE_FAIL]
C0112 = [MAKE_SUMMARY_FILE_END]
C0113 = TYPE =
C0114 = SQL =
C0115 = ELAPSED_TIME =
C0116 = [GET_DATABASE_INFORM_START]
C0117 = [GET_CURRENT_SCHEMA_START]
C0118 = [GET_CURRENT_SCHEMA_END]
C0119 = [GET_INDEX_INFORM_START]
C0120 = [GET_INDEX_INFORM_ERROR]
C0121 = [GET_INDEX_INFORM_END]
C0122 = [GET_FK_INFORM_START]
C0123 = [GET_FK_INFORM_ERROR]
C0124 = [GET_FK_INFORM_END]
C0125 = [GET_DATABASE_INFORM_END]

## com.k4m.experdb.db2pg.unload
C0131 = [%s-CREATE_PIPE_LINE]
C0132 = [%s-CREATE_BUFFEREDOUTPUTSTREAM]
C0133 = [START_FETCH_DATA]
C0134 = [ELAPSED_TIME] %s %s ms
C0135 = COMPLETE UNLOAD (TABLE_NAME : %s, getProcessLines : %s, getProcessBytes : %s, getProcessErrorLInes : %s, migTime : %s ms
C0136 = [END_FETCH_DATA]
C0137 = COMPLETE UNLOAD (TABLE_NAME : %s, ROWNUM : %s
C0138 = [%s-CREATE_PIPE_LINE]
C0139 = [%s-CREATE_BUFFEREDOUTPUTSTREAM]
C0140 = [START_FETCH_DATA] %s
C0141 = [ADD_TRUNCATE_COMMAND] Table : %s
C0142 = [NO_TRUNCATE_COMMAND] Table : %s
C0143 = [ELAPSED_TIME] %s %s ms
C0144 = [SQL_ERROR]
C0145 = [END_FETCH_DATA]
C0146 = COMPLETE UNLOAD (TABLE_NAME : %s, ROWNUM : %s)
C0147 = START UNLOADER !!!
C0148 = [SUMMARY_INFO]
C0149 = [TOTAL_INFO] SUCCESS : %d / FAILURE : %d / TOTAL: %d
C0150 = [ELAPSED_TIME]
C0151 = EXCEPTION!!!!
C0152 = [MAKE_SUMMARY_FILE_START]
C0153 = [TOTAL_INFO]
C0154 = SUCCESS : 
C0155 = FAILURE : 
C0156 = TOTAL :
C0157 = ELAPSED_TIME :
C0158 = [MAKE_SUMMARY_FILE_FAIL]
C0159 = [MAKE_SUMMARY_FILE_END]
C0160 = [SELECT_QUERY_LOAD_START]
C0161 = [SELECT_QUERY_LOAD_SUCCESS]
C0162 = [SELECT_QUERY_FILE_NOT_FOUND]
C0163 = [SELECT_QUERY_LOAD_FAIL]
C0164 = [SELECT_QUERY_LOAD_END]
C0165 = [MAKE_SUMMARY_FILE_START]
C0166 = [RUN_PARSING]
C0167 = [END_PARSING]
C0168 = TOTAL=%s, SUCCESS=%s, FAILURE=%s, TOTAL_ELAPSED_TIME="%s"
C0169 = [MAKE_SUMMARY_FILE_SUCCESS]
C0170 = [MAKE_SUMMARY_FILE_FAIL]
C0171 = [MAKE_SUMMARY_FILE_END]
C0172 = TABLENAME=
C0173 = SELECT_COUNT=
C0174 = COPY_COUNT=
C0175 = ELAPSED_TIME=
C0176 = STATUS=

## com.k4m.experdb.db2pg.writer
C0201 = [%s] successByteCnt : %s
C0202 = [%s] InsertCnt : %s
C0203 = [Err Line Skip] ErrLine : %s ErrData : %s
C0204 = [%s] succeeded bytes : %s
C0205 = [$s] failed bytes : %s





