## Main
M0001 = [DB2PG started.]
M0002 = [DDL export process from Source started.]
M0003 = [DDL expert process from Source was completed.]
M0004 = [PG_CONSTRAINT extraction process started.]
M0005 = [PG_CONSTRAINT extraction process was completed.]
M0006 = [Foreign Key drop process started.]
M0007 = [Foreign Key drop process was completed.]
M0008 = [Index drop process started.]
M0009 = [Index drop process was completed.]
M0010 = [Data export include source started.]
M0011 = [Data export include source was completed.]
M0012 = [Index generation process started.]
M0013 = [Index generation process was completed.]
M0014 = [Foreign Key generation started.]
M0015 = [Foreign key generation was completed.]
M0016 = [DB2PG Work Complete!]

## com.k4m.experdb.db2pg.common.CreateDbStmt
C0001 = Please check the target DB type is supported by DB2PG.
C0002 = The statement for disable primary key is not supported.
C0003 = The statement for drop index is not supported.
C0004 = The statement for alter table logging is not supported.
C0005 = The statement for alter table nologging is not supported.
C0006 = The statement for alter foreign key is not supported.
C0007 = The statement for create stat is not supported.
C0008 = The statement for create stat table is not supported.
C0009 = The statement for drop stat table is not supported.
C0010 = Please check the version of DB is supported by DB2PG.

## com.k4m.experdb.db2pg.config.ConfigInfo
C0021 = [Unable to find config file. Please check the config file.]
C0022 = [Unable to load config file. Please check the config file.]


## com.k4m.experdb.db2pg.convert
C0025 = %s directory is not existed.
C0026 = Success to create %s directory.
C0027 = Failed to create %s directory.

## com.k4m.experdb.db2pg.convert.db
C0031 = [Getting table information process started.]
C0032 = [GET_SET_TABLE_INFORM]
C0033 = [GET_TABLE_INFORM]
C0034 = [Getting table information process was completed.]
C0035 = [Setting column information process started.]
C0036 = [GET_SET_COLUMN_INFORM]
C0037 = [Set column information process has was completed.]
C0038 = [Set constraint information process started.]
C0039 = [GET_SET_CONSTRAINT_INFORM]
C0040 = [Setting constraint information process was completed.]
C0041 = [Set key information process started.]
C0042 = [GET_SET_KEY_INFORM]
C0043 = [Set key information process was completed.]
C0044 = [Set view information process started.]
C0045 = [GET_SET_VIEW_INFORM]
C0046 = [Set view information process was completed.]
C0047 = Setting sequences information process started.
C0048 = [GET_SET_SEQUENCES_INFORM]
C0049 = [Setting sequences information process was completed.]
C0050 = [Setting sequences information process was completed.]
C0051 = Not Exist DB Type

## com.k4m.experdb.db2pg.db.oracle.spatial.geometry
C0061 = ERROR: Dimension %s is not valid. Either specify a dimension or use Oracle Locator Version 9i or later.
C0062 = ERROR: SDO_ELEM_INFO starting offset %s Offset inconsistent with ordinates length %s
C0063 = ERROR: SDO_ETYPE %s inconsistent with expected POINT
C0064 = ERROR: SDO_ETYPE.POINT requires interpretation >= 1
C0065 = ERROR: SDO_ELEM_INFO starting offset %s inconsistent with ordinates length %s
C0066 = ERROR: SDO_ETYPE %s inconsistent with expected LINESTRING
C0067 = ERROR: SDO_ETYPE %s inconsistent with expected POLYGON or POLYGON_EXTERIOR
C0068_1 = ERROR: SDO_ETYPE 2003 (Polygon Interior) no expected in a GeometryCollection
C0068_2 = (2003 is used to represent polygon holes, in a 1003 polygon exterior)
C0069 = ERROR: SDO_ETYPE %s not representable as a EWKT Geometry by DB2PG
C0070 = ERROR: SDO_ETYPE %s inconsistent with expected SOLID_EXTERIOR
C0071 = ERROR: SDO_ELEM_INFO starting offset %s Offset inconsistent with COORDINATES length %s

## com.k4m.experdb.db2pg.db
C0081 = **********************************************************************************************
C0082 = Create DBCPPOOL [%s]
C0083 = Loading JDBC DB_TYPE :
C0084 = PROPERTY : charset =
C0085 = Created DBCPPOOL [%s]
C0086 = Creating DBCPPOOL has failed.
C0087 = [Getting table names process started.]
C0088 = [GET_TABLE_NAMES] table : %s
C0089 = [GET_TABLE_NAMES_ELAPSED_TIME] %s : %s ms
C0090 = [Getting table names process was completed.]

## com.k4m.experdb.db2pg.rebuild
C0101 = [Making list to file process started.] Path : %s
C0102 = [An error occurred during list to file making process.]
C0103 = [Making list to file process was completed.]
C0104 = [Making summary file process started.]
C0105 = [RUN_PARSING] %s
C0106 = [END_PARSING] %s
C0107 = TOTAL_ELAPSED_TIME = %s
C0108 = [Make Summary File SUCCESS]
C0109 = [Make Summary File FAIL]
C0110 = [Making summary file has been done.]
C0111 = TYPE = %s
C0112 = SQL = %s
C0113 = ELAPSED_TIME = %s
C0114 = [Getting database information process started.]
C0115 = [Getting current schema process started.]
C0116 = [Getting current schema was completed.]
C0117 = [Getting index information process started.]
C0118 = [An error occurred during index information get process.]
C0119 = [Getting index information process was completed.]
C0120 = [Getting foreign key information process started.]
C0121 = [An error occurred during foreign key information get process.]
C0122 = [Getting foreign key information process was completed.]
C0123 = [Getting database information process was completed.]

## com.k4m.experdb.db2pg.unload
C0131 = [Table : %s] Start DB Writer
C0132 = [Table : %s] Create Buffered output Stream
C0133 = [File : %s] Fetching data process started
C0134 = [Table : %s] Elapsed Time : %s Sec
C0135 = COMPLETE UNLOAD (TABLE_NAME : %s, getProcessLines : %s, getProcessBytes : %s, getProcessErrorLInes : %s, migTime : %s Sec
C0136 = [File : %s] Fetching data process was completed
C0137 = COMPLETE UNLOAD (TABLE_NAME : %s, ROWNUM : %s)
C0138 = [ADD_TRUNCATE_COMMAND] Table : %s
C0139 = [NO_TRUNCATE_COMMAND] Table : %s
C0140 = [ELAPSED_TIME] %s %s Sec
C0141 = [SQL_ERROR] File : %s
C0142 = [Fetching data process was completed.]
C0143 = COMPLETE UNLOAD (TABLE_NAME : %s, ROWNUM : %s)

C0144 = START UNLOADER !!!
C0145 = [SUMMARY_INFO]
C0146 = [TOTAL_INFO] SUCCESS : %d / FAILURE : %d / TOTAL: %d
C0147 = [ELAPSED_TIME]
C0148 = EXCEPTION!!!!
C0149 = [Making summary file process started.]
C0150 = [TOTAL_INFO]
C0151 = SUCCESS : 
C0152 = FAILURE : 
C0153 = TOTAL :
C0154 = ELAPSED_TIME :
C0155 = [Making summary file process has failed.]
C0156 = [Making summary file process was completed.]

C0157 = [Select query load process started.]
C0158 = [Select query load process did run successfully.]
C0159 = [An error occurred during select query file(Not found)]
C0160 = [A select query load process has failed.]
C0161 = [A select query load process was completed.]

C0162 = [Making summary file process started.]
C0163 = [Summary Parsing Start]
C0164 = [Summary Parsing End]
C0165 = TOTAL=%s, SUCCESS=%s, FAILURE=%s, TOTAL_ELAPSED_TIME="%s"
C0166 = [Making summary file process run successfully.]
C0167 = [Making summary file process has failed.]
C0168 = [Making summary file process was completed.]
C0169 = Table Name : %s
C0170 = Select Count : %s
C0171 = Copy Count : %s
C0172 = Elapsed Time : %s
C0173 = Status : %s

## com.k4m.experdb.db2pg.writer
C0201 = [%s] successByteCnt : %s
C0202 = [%s] InsertRowCnt : %s
C0203 = [Err Line Skip cnt : %s] ErrLine : %s ErrData : %s
C0204 = [%s] succeeded bytes : %s
C0205 = [%s] failed bytes : %s
